* {
    BG:    #1E1D2Fff;
    BGA:   #005577ff;
    FG:    #74C7ECff;
    FGA:   #F28FADff;
    BDR:   #11111Bff;
    SEL:   #BAC2DEff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #585B70ff;
    ON:    #005577ff;
}

